.header {
  //TODO make this variable global padding 0 5rem
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 100px;
  // background-color: #0A192F;
  background-color: #fff;
  transition: background-color .2s cubic-bezier(.39,.575,.565,1);
  //box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;

  .navbar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .brand {

    }

    &--left, &--middle, &--right {
      display: flex;
      align-items: center;
    }

    .navbar-links {
      display: flex;
      align-items: center;
      counter-reset: item;

      .item {
        font-size: 1.4rem;
        margin: 0 1rem;
        counter-increment: item;

        &:before {
          content: "0" counter(item) ".";
          color: #209cee;
        }
      }

      .item-link {
        padding: 1.2rem 1rem;
        transition: all .15s ease-in-out;

        &:hover {
          color: #209cee;
        }
      }
    }

    .resume-button {
      margin-left: 1rem;
      font-size: 1.4rem;
    }
  }
}

.social-container {
  position: fixed;
  bottom: 0;
  left: 40px;
  width: 40px;
  display: flex;
  justify-content: center;

  .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    .item {

      .item-link {
        display: block;
        padding: 1rem;
        transition: all .15s ease-in-out;
        color: #035388;

        &:hover {
          color: #209cee;
        }

        svg {
          width: 18px;
          height: 18px;
          fill: currentColor;
        }
      }
    }

    &::after {
      content: '';
      // background-color: #8892b0;
      background-color: #035388;
      width: 1px;
      height: 90px;
      display: block;
      margin-top: .8rem;
    }
  }
}

.email-container {
  position: fixed;
  bottom: 0;
  right: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .email-link {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: .5px;
    writing-mode: vertical-rl;
    transition: all .15s ease-in-out;
    color: #035388;

    &:hover {
      color: #209cee;
      // color: #0b69a3;
    }

    &::after {
      content: '';
      // background-color: #8892b0;
      background-color: #035388;
      width: 1px;
      height: 90px;
      display: block;
      margin-top: .8rem;
    }
  }
}

.main-container {
  width: 100%;
  padding: 0 15rem;
  counter-reset: section;

  section {
    margin: 0 auto;
    padding: 15rem 0;
  }
}

.banner {
  max-width: 100rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .content {
    z-index: 100;
  }

  .hello-message {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-weight: normal;
    // color: #209cee;
    color: #0b69a3;
  }

  .name {
    font-family: "Calibre Semibold", serif;
    font-size: 8rem;
    font-weight: 600;
    // color: #e6f1ff;
    color: #1a202c;
  }

  .sub-message {
    font-family: "Calibre Semibold", serif;
    font-size: 8rem;
    font-weight: 600;
    // color: #8892b0;
    color: #0b69a3;
  }

  .summary {
    margin-top: 2.5rem;
    max-width: 50rem;
    font-family: "Calibre Regular", serif;
    // color: #8892b0;
    color: #1a202c;

    p {
      font-size: 2rem;
    }
  }

  .buttons {
    .email-link {
      font-size: 1.4rem;
      margin-top: 5rem;
      padding: 2rem 2.8rem;
    }
  }

  .profile {
    position: absolute;
    max-height: calc(100vh - 100px);
    bottom: 0;
    right: calc(15rem);
    z-index: 10;
  }
}

.section-title {
  font-size: 3.2rem;
  margin: 1rem 0 4rem 0;
  display: flex;
  align-items: center;

  &:before {
    counter-increment: section;
    content: "0" counter(section) ".";
    margin-right: 1rem;
    font-size: 2rem;
    color: #209cee;
  }

  &:after {
    content: "";
    display: block;
    width: 30rem;
    height: 1px;
    background-color: #2d3952;
    margin-left: 2rem;
  }
}

.subsection-title {
  font-size: 3.2rem;
  text-align: center;
  margin: 1rem 0 4rem 0;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #2d3952;
}

.about {
  max-width: 100rem;

  .container {
    display: flex;
    justify-content: space-between;
    // color: #8892b0;
    color: #1a202c;
  }

  .content {
    flex: 0 0 60%;
  }

  .photo-container {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
  }

  .details {
    font-size: 2rem;
    font-family: "Calibre Regular", serif;
    line-height: 2.6rem;
    margin-bottom: 2rem;

    .link {
      // color: #209cee;
      color: #0b69a3;

      &:hover {
        color: #209cee;
      }
    }
  }

  .skill-list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2 , minmax(14rem, 20rem));
    font-size: 1.4rem;

    .skill {
      margin-bottom: 1rem;
      position: relative;
      padding-left: 2rem;

      &:before {
        content: '▹';
        position: absolute;
        left: 0;
        color: #209cee;
        font-size: 1.4rem;
        //line-height: 12px;
      }
    }
  }
}

.experience {
  max-width: 80rem;

  .container {
    display: flex;
  }

  .location-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 1.4rem;
    padding: 0 2rem;
    white-space: nowrap;
    border: none;
    color: #606a86;
    border-left: 2px solid #333f58;
    height: 4.2rem;
    cursor: pointer;
    transition: all .15s ease-in;
    width: 100%;

    &:hover {
      color: #209cee;
      background-color: #172a45;
    }

    &.active {
      border-left: 2px solid #209cee;
      color: #209cee;
    }
  }

  .details {
    margin-left: 2rem;
    flex: 1;

    .title {
      font-family: "Calibre Semibold", serif;
      color: #ccd6f6;
      font-size: 2.2rem;
      margin-bottom: 5px;
      font-weight: 500;
    }

    .link {
      color: #209cee;
    }

    .timeline {
      font-size: 1.4rem;
      letter-spacing: .5px;
      color: #a8b2d1;
      margin-bottom: 3rem;
      font-weight: 500;
    }

    .detail-list {
      font-size: 1.6rem;

      .detail {
        margin-bottom: 1rem;
        padding-left: 3rem;
        font-size: 1.8rem;
        color: #a8b2d1;
        font-family: "Calibre Regular", serif;
        position: relative;

        &:before {
          content: '▹';
          position: absolute;
          left: 0;
          color: #209cee;
          font-size: 1.8rem;
          //line-height: 12px;
        }
      }
    }
  }
}

.project {
  max-width: 100rem;

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 10rem;

    &--right {

      .screenshot {
        grid-column: 1 / 8;
      }

      .details {
        grid-column: 7 / -1;
        text-align: right;
      }

      .language-list {
        justify-content: flex-end;
      }
    }

    &--left {

      .screenshot {
        grid-column: 7 / -1;
      }

      .details {
        grid-column: 1 / 8;
        text-align: left;
      }

      .language-list {
        justify-content: flex-start;
      }
    }
  }

  .screenshot {
    grid-row: 1 / -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .details {
    grid-row: 1 / -1;

    .featured {
      font-size: 1.4rem;
      margin: 1rem 0;
      font-weight: normal;
      color: #209cee;
    }

    .project-title {
      font-size: 2.8rem;
      font-weight: 600;
      font-family: "Calibre Semibold", serif;
      color: #ccd6f6;
      margin-bottom: 2rem;
      transition: all .15s ease-in-out;

      &:hover {
        color: #209cee;
      }
    }

    .snippet {
      box-shadow: rgb(2, 12, 27, 0.7) 0px 10px 30px -15px;
      font-size: 1.8rem;
      font-family: "Calibre Regular", serif;
      background-color: #172a45;
      color: #a8b2d1;
      padding: 2.5rem;
      border-radius: 4px;
      transition: all .15s ease-in-out;

      &:hover {
        box-shadow: rgba(2, 12, 27, 0.7) 0px 20px 30px -15px;
      }

      .link {
        color: #209cee;
      }
    }

    .language-list {
      display: flex;
      margin: 2.5rem 0 1rem 0;

      .language {
        color: #8892b0;
        font-size: 1.4rem;

        &:not(:first-child) {
          margin-left: 2rem;
        }
      }
    }

    .links {
      margin-top: 2rem;

      .link {
        padding: 1rem;
        transition: all .15s ease-in-out;

        &:hover {
          color: #209cee;
        }
      }

      a:not(:first-child) {
        margin-left: 2rem;
      }

      svg {
        width: 2.4rem;
        height: 2.4rem;
        fill: currentColor;
      }
    }
  }
}

.other {
  max-width: 100rem;

  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
    grid-gap: 1.5rem;
  }

  .project-container {
    background-color: #172a45;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.2rem 2.8rem;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    transition: all .15s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      box-shadow: rgba(2, 12, 27, 0.7) 0px 20px 30px -15px;
    }
  }

  .heading {

    .icon-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;

      .folder {
        color: #209cee;

        svg {
          height: 4rem;
          width: 4rem;
          fill: currentColor;
        }
      }

      .links {

        .link {
          padding: 1rem;
          transition: all .15s ease-in-out;

          &:hover {
            color: #209cee;
          }
        }

        .link:not(:first-child) {
          margin-left: 2rem;
        }

        svg {
          width: 2rem;
          height: 2rem;
          fill: currentColor;
        }
      }
    }

    .title {
      font-size: 2.2rem;
      color: #ccd6f6;
      margin-bottom: 1rem;
      font-weight: 600;
      font-family: "Calibre Semibold", serif;
    }

    .description {
      font-size: 18px;
      color: #a8b2d1;
      font-family: "Calibre Regular", serif;
    }
  }

  .footer {

    .language-list {
      margin-top: 2rem;
      display: flex;

      .language {
        font-size: 12px;
        color: #8892b0;

        &:not(:first-child) {
        margin-left: 2rem;
      }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

    .more-button {
      font-size: 1.4rem;
      padding: 2rem 2.8rem;
    }
  }
}

.contact {
  max-width: 60rem;

  .message {
    font-family: "Calibre Regular", serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .contact-button {
    margin-top: 5rem;
    font-size: 1.4rem;
    padding: 2rem 2.8rem;
  }
}
